@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;
  

::-webkit-scrollbar {
    width: 8px;
  }
   
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background: #4a4a4ac4;
  }
   
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }